{% extends "base.html" %}
{% block title %}
    <title>About</title>
{% endblock %}

{% block head %}
 <!-- Page Header -->
  <header class="masthead" style="background-image: url('static/img/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}
 

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>FitTrek strives to complete one simple mission. And that is to aid in your fitness journey and help reach your goals!</p>
        <p>We are a small group of only five programmers from UNT that are passionate about creating useful software that can impact the lives of others. We started this project in hopes of creating a helpful resource for people who want to get into shape.</p>
      </div>
    </div>
  </div>

  <hr>

 {% endblock %}
