{%extends "user_dashboard_template.html"%}
{%block title%}
  <title>Cardio</title>
{%endblock%}
<body>
    {%block content%}
    <div class="row">
                        <!-- Area Chart -->
                        <div class="col-xl-6 col-lg-6">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6>HIIT Cardio Workout - No Equipment at Home | SELF</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <iframe width="530" height="355" src="https://www.youtube.com/embed/ml6cT4AZdqI">
                                     </iframe>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6>15 Minute Full Body Cardio Workout (No Equipment)</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <iframe width="530" height="355" src="https://www.youtube.com/embed/IvmaekQfKiw">
                                     </iframe>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6>15 Minute Full Body Dumbbell Workout </h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <iframe width="530" height="355" src="https://www.youtube.com/embed/xqVBoyKXbsA">
                                     </iframe>
                                </div>
                            </div>
                        </div>

                    </div>
    {%endblock%}
     <!-- Content Row -->

</body>

</html>