
{% extends "base.html" %}
{% block title %} 
    <title>My Post</title>
{% endblock %}

{% block head %}
<!-- Page Header -->
  <header class="masthead" style="background-image: url('static/img/home-workout.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>WELCOME TO FITTREK</h1>
            <span class="subheading">A Place For You To Be Fit</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-15 col-md-20 mx-auto">
          {% for post in posts %}
              <div class="card shadow mb-4">
                  <!-- Card Header - Dropdown -->
                  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                       <h2>{{ post.title }}</h2>
                  </div>
                   <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                       <a style="font-size:15px">Author: {{ post.author.fname }} {{ post.author.lname }}</a>
                  </div>
                  <!-- Card Body -->
                  <div class="card-body">
                    <p style="font-size:15px">{{ post.content }}</p>
                  </div>
              </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </article>
  <hr>

  {% endblock %}
