{%extends "user_dashboard_template.html"%}
{%block title%}
  <title>Supplement</title>
{%endblock%}
<body>
    {%block content%}
    <div class="row">
                        <!-- Area Chart -->
                        <div class="col-xl-6 col-lg-6">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6>Vitamin C</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                              
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6>Whey Protein 20gr</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                  
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6>Vitamin E</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                   
                                </div>
                            </div>
                        </div>

                    </div>
    {%endblock%}
     <!-- Content Row -->

</body>

</html>